html,
body {
    margin: 0;
    padding: 0;
    background-color: lightgrey;
}

main {
    margin: 0;
    padding: 10px;
}

header {
text-align: center;
background-color: darkslategray;
color:rgb(168, 199, 199);
padding: 10px 30px;

}

#add-emp-htwo {
    color:rgb(32, 49, 49);
    text-align: center;
}

#current-employees {
    color:rgb(32, 49, 49);
    text-align: center;
}

.employee-info-table {
    color:rgb(32, 49, 49);
    margin-left: auto;
    margin-right: auto;
}

footer {
    text-align: center;
}

.over-budget{
    text-align: center;
}

#form-div {
   text-align: center;
}

#submit-button-div {
text-align: center;
}

.table-body-div {
    background-color: rgb(124, 149, 149);
    border-collapse: collapse;
}